.NavBar {
  background-color: #333;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  color: #fff;
}

.NavBar h3 {
  margin: 0;
}

.Categories {
  display: flex;
  gap: 1rem;
}

.Option, .ActiveOption {
  text-decoration: none;
  color: #bbb;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.Option:hover {
  background-color: #555;
  color: #fff;
}

.ActiveOption {
  color: #007bff;
  background-color: #e7f1ff;
  font-weight: bold;
}

